* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}
a {
  text-decoration: none !important;
  color: white !important;
  transition: all 0.5s;
}
a:hover {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.784) !important;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ============= */
/* Header  */
/* ============== */
.top_bar,
.navbar {
  background: #0c0b0b;
}
.top_bar {
  color: rgb(197, 194, 194);
  font-size: 0.8rem;
  height: 25px;
}
.bottom_bar {
  height: 100px;
}
.logo {
  width: 150px;
  height: 100px;
}
.logo img {
  object-fit: cover;
}
.search {
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search input {
  border: none;
  width: 80%;
  height: 100%;
  outline: none;
  padding: 2px;
  font-family: "Noto Nastaliq Urdu", serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: rgb(173, 174, 173);
}
.search .iconify {
  cursor: pointer;
  font-size: 2em !important;
}
.weather_update {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#country-flag {
  width: 30px;
  /* border: 1px solid; */
  margin-left: 10px;
}
.weather_update .iconify {
  font-size: 3.5em;
}
#weather-icon {
  width: 89px;
  height: 80px;
}
.navbar {
  height: 55px;
  overflow: hidden;
  transition: all 0.5s !important;
}
.navbar_active {
  height: 600px !important;
}
.flag {
  font-size: 2em !important;
}
.menu {
  font-size: 3em !important;
}
.slider_container {
  width: 97.8%;
  height: 400px;
}
.__slider {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.img_gradient {
  z-index: 50;
  background: linear-gradient(rgb(63 63 63 / 25%), rgba(0, 0, 0, 0.7));
}
.active_slide {
  opacity: 1 !important;
  z-index: 1 !important;
}
.desc_container {
  bottom: 0%;
  z-index: 444;
}
.slides img {
  object-fit: cover;
}
.__slider h1 {
  color: white;
  direction: rtl;
  z-index: 4333;
  font-family: "Noto Nastaliq Urdu", serif;
  bottom: 10%;
  line-height: 43px;
  right: 10px;
  font-size: 1.2rem;
  max-width: 600px;
}
.__slider p {
  z-index: 4;
  right: 10px;
}
.slider_child {
  width: 95%;
  height: 200px;
}
.slider_child img {
  object-fit: cover;
}
.slider_child p {
  z-index: 4;
  color: white;
  position: absolute;
  bottom: 5px;
  right: 10px;
  padding: 0;
  margin: 0;
}
.slider_child h6 {
  direction: rtl;
  z-index: 4;
  bottom: 12%;
  max-width: 80%;
  right: 10px;
  color: white;
  font-size: 1.3rem;
}
.news_feed,
.latest_news {
  height: 1000px;
  overflow: scroll;
}
.news_feed::-webkit-scrollbar {
  display: none;
}
.latest_news::-webkit-scrollbar {
  display: none;
}
.news_feed .content {
  direction: rtl;
}
.news_feed .thumbnail {
  height: 400px;
}
.related_news .imgBox {
  width: 100%;
  height: 250px;
}
.related_news .imgBox img {
  object-fit: cover;
}
.footer {
  height: 300px;
  border: 1px solid;
}
.category {
  height: 200px;
}

.transition {
  z-index: 3;
  background: linear-gradient(rgba(63, 63, 63, 0.25), rgba(0, 0, 0, 0.5));
}

#advertisement_container {
  height: 300px;
  background-color: #e8e9e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#advertisement {
  width: 80%;
  height: 200px;
}
#advertisement img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.loader-circle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 64px;
  left: 64px;
  border: 3px solid transparent;
}
